---
import HeroSection from '../components/HeroSection.astro'
import Cards from '../components/Cards.astro'
import Webs from '../components/Webs.astro'
import Layout from '../layouts/layout.astro'
import Navbar from '../components/Navbar.astro'
---
<Layout>
  <section class="background">
    <Navbar/>
    <HeroSection/>
  </section>
  <Cards/>
  <Webs/>
</Layout>
<style>
  .background{
    background-image: url('./circuit-board.svg') ;
  }
</style>