---

---

<div class="bg-bgDark pt-5 pb-20">
    <section class="max-w-5xl mx-auto px-5">
        <div class="flex items-center">
            <h1 class="uppercase text-white2 font-bold ml-10 mr-5 py-20 text-xl">
                <span class="">&#60;</span>skill<span>/&#62;</span>
            </h1>
            <div class="line w-full mr-14"></div>
        </div>
        <div class="grid grid-cols-1 sm:grid-cols-3 mp-5 gap-4 max-w-3xl mx-auto">
            <div class="border-[1px] border-bg3 p-5">
                <h2 class="text-white1 font-semibold uppercase text-start text-base py-2">desing</h2>
                <p class="text-white2">Herramientas basicas ui & ux dise침adores.</p>
            </div>
            <div class="border-[1px] border-bg3 p-5">
                <h2 class="text-white1 font-semibold uppercase text-start text-base py-2">Creatividad</h2>
                <p class="text-white2">Herramientas multimedia, dise침os creativos y personalizados para proyectos.</p>
            </div>
            <div class="border-[1px] border-bg3 p-5">
                <h2 class="text-white1 font-semibold uppercase text-start text-base py-2">An치lisis de contenido</h2>
                <p class="text-white2">Dise침os creativos y especificos.</p>
            </div>

        </div>
        <div class="grid grid-cols-2 md:grid-cols-3 lg:grid-cols-4 place-items-center p-10 mt-20 gap-5">
            <img class="w-32 h-32" src="./alpinejs.svg" alt="">
            <img class="w-32 h-32" src="./astro.svg" alt="">
            <img class="w-32 h-32" src="./css3.svg" alt="">
            <img class="w-32 h-32" src="./html5.svg" alt="">
            <img class="w-32 h-32" src="./react.svg" alt="">
            <img class="w-32 h-32" src="./tailwindcss.svg" alt="">
        </div>
    </section>
</div>
<style>
    *{
        font-family: 'Oswald Variable', sans-serif;
    }
    .line{
        background: #4B4B4B;
        height: 2px;
    }
</style>