---
---
<section class=" pb-20">
    <section class="max-w-6xl mx-auto px-5 grid grid-cols-1 md:grid-cols-3">
        <div class="md:col-span-2">
            <h1 class="slogan text-8xl pt-5 text-white1 font-bold capitalize">developer web & digital desing</h1>
        </div>
        <div>
            
        </div>
    </section>
</section>

<style>
    .slogan{
        font-family: 'Oswald Variable', sans-serif;
        font-weight: 400;
    }
</style>