---

---
<nav class="flex justify-between py-5 px-5 mx-5 md:mx-16 lg:mx-20">
    <a href="/"><img class="w-14 h-14 flex justify-center" src="./logo.png" alt=""></a>
    <ul>
        <li><a class="about text-white1 text-lg hover:text-bg3" href="/about/">About Me</a></li>
    </ul>
</nav>
<style>
    .about{
        font-family: 'Oswald Variable', sans-serif;
        font-weight: 400;
    }
</style>