---

---
<section>
    <div class="flex items-center max-w-6xl mx-auto">
        <h1 class="title uppercase text-white2 font-bold ml-10 mr-5 py-20 text-xl">
            <span class="">&#60;</span>otros<span>/&#62;</span>
        </h1>
        <div class="line w-full mr-14"></div>
    </div>
    <div class="grid grid-cols-1 md:grid-cols-2 lg:grid-cols-3 mt-5 lg:px-10">
        <img class="hover:scale-105 duration-1000" src="web_01.png" alt="">
        <img class="hover:scale-105 duration-1000" src="web_02.png" alt="">
        <img class="hover:scale-105 duration-1000" src="web_03.png" alt="">
        <img class="hover:scale-105 duration-1000" src="web_04.png" alt="">
        <img class="hover:scale-105 duration-1000" src="web_05.png" alt="">

    </div>
</section>
<style>
    .title{
        font-family: 'Oswald Variable', sans-serif;
    }
    .line{
        background: #747473;
        height: 2px;
    }
</style>