---
import '@fontsource-variable/oswald';
import Navbar from '../components/Navbar.astro';
---
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/svg+xml" href="/logo.png" />
    <meta name="generator" content="Blog"/>
  </head>
  <body class="bg-bg1">
    <slot/>
  </body>
</html>